<h1> <%= link_to 'Index', trees_path %></h1>
<h1>Editing tree metadata</h1>
 
<%= form_for @tree, :url => tree_path, :html => { :multipart => true }, method: :patch do |f| %>
  <% if @tree.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@tree.errors.count, "error") %> prohibited
      this tree metadata from being saved:</h2>
    <ul>
    <% @tree.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

	  <p>
    <%= f.label :model_type %><br>
    <%= f.text_field :model_type %>
  </p>

  <p>
    <%= f.label :tree_amount %><br>
    <%= f.text_field :tree_amount %>
  </p>

	  <p>
    <%= f.label :accuracy %><br>
    <%= f.text_area :accuracy %>
  </p>


  <p>
    <%= f.label :parser %><br>
    <%= f.text_field :parser %>
  </p>

  <p>
    <%= f.label "Target Domain / Pr"  %><br>
    <%= f.text_area :pr_id %>
  </p>

  <p>
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </p>

	<p>
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </p>


<h2> Change the Model File.txt (only recommended for errors):</h2>

		<%= f.file_field :file %> </br></br>
		<%= f.submit %>
<% end %>


