<p>
  <strong>Author:</strong>
  <%= @tree.author %>
</p>
 
<p>
  <strong>Accuracy:</strong>
  <%= @tree.accuracy %>
</p>

<p>
  <strong>Model Type:</strong>
  <%= @tree.model_type %>
</p>

<p>
  <strong>Number of Trees:</strong>
  <%= @tree.tree_amount %>
</p>

<p>
  <strong>Note:</strong>
  <%= @tree.note %>
</p>

<p>
  <strong>Purple Robot ID:</strong>
  <%= @tree.pr_id %>
</p>

<p>
  <strong>Parser Choice:</strong>
  <%= @tree.parser %>
</p>

<h3>Look OK? Add your model file now:</h3>
	 
	<%= form_for([@tree, @tree.tree_files.build]) do |f| %>
		<%= f.file_field :model %>
    <%= f.submit %>
	<% end %>

<b>See Errors? <%= link_to 'Edit the metadata.', edit_tree_path(@tree) %>

<%= link_to 'Index', trees_path %>
